.book-search-page{
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1rem;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  .book-card {
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


  }
  
  .book-results, .bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
button{
    background-color: rgb(9, 194, 3);
    border-radius: 5px;
    border:none;
    color: white;
    height: 30px;
    cursor: pointer;
}  
h2{
    text-align: center;
}
input {
    width: 300px;
    height: 25px;
    border-radius: 5px;
  }
  
  input:focus {
    border: 1px solid lightblue; 
  }
  